<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/productos.css">
</head>

<body>
<div id="app">

    <header class="navbar">
        <button class="menu-btn" id="menuBtn" @click="toggleMenu()">☰</button>
        <h1 class="navbar-title">SuperMarket</h1>
        <button class="logo-btn">🛒</button>
    </header>

    <div class="layout">
        <!-- Menú desplegable -->
        <nav class="side-menu" :class="{open: menuAbierto}">
            <ul>

                <li class="menu-section">Ventas</li>
                <ul class="submenu">
                    <li><a href="/ventas">Ventas</a></li>
                    <li><a href="/ventas/nuevaVenta">Nueva Venta</a></li>
                </ul>

                <li class="menu-section">Base de Datos</li>
                <ul class="submenu">
                    <li><a href="/productos">Productos</a></li>
                </ul>

            </ul>
        </nav>

        <!-- CONTENIDO -->
        <main class="content">

            <h1 id="titulo-tabla">Productos</h1>

            <table>
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="producto in productos" :key="producto.id">
                    <td data-label="Nombre">{{ producto.nombre }}</td>
                    <td data-label="Descripción">{{ producto.descripcion }}</td>
                    <td data-label="Precio">$ {{ producto.precioActual }}</td>
                </tr>
                </tbody>
            </table>
        </main>
    </div>

    <button class="back-btn" @click="toggleAddMenu()"> +</button>
    
    <div class="add-menu" :class="{open: menuAddAbierto}">
        <div class="close-menu">
            <h2>Agregar Producto</h2>
            <button class="close-btn" @click="toggleAddMenu()">X</button>
        </div>
        
        <form @submit.prevent="agregarProducto()">
            <input type="text" v-model="nuevoProducto.nombre" placeholder="Nombre" required>
            <input type="text" v-model="nuevoProducto.descripcion" placeholder="Descripción" required>
            <input type="number" v-model.number="nuevoProducto.precioActual" placeholder="Precio" required>
            <button type="submit">Agregar</button>
        </form>
    </div>

    <footer>
        <p>© 2026 SuperMarket - Sistema de ventas</p>
    </footer>
</div>

<script src="/js/productos.js"></script>
</body>
</html>
