<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <navbar>
            <div>
                <a href="/home">Home</a>
                <a href="/productos">Productos</a>
                <a href="/contacto">Contacto</a>
            </div>
            <!--
                <div>
                    <p>Usuario: <strong>{{ usuario.nombre }}</strong></p>
                    <p>Sucursal: <strong>{{ sucursal.nombre }}</strong></p>
                    <a href="/logout">Cerrar Sesión</a>
                </div>
            -->
        </navbar>
        <h1>Productos</h1>
        
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="producto in productos" :key="producto.id">
                    <td>{{ producto.id }}</td>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.precio }}</td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>